



<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img1.jpg" alt="blog1" />
          <h3>Sample blog post 1</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img2.jpg" alt="blog1" />
          <h3>Sample blog post 2</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img3.jpg" alt="blog1" />
          <h3>Sample blog post 3</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img4.jpg" alt="blog1" />
          <h3>Sample blog post 4</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img5.jpg" alt="blog1" />
          <h3>Sample blog post 5</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img6.jpg" alt="blog1" />
          <h3>Sample blog post 6</h3>
          <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
 
  <!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->
  


